:root {
    --darkbackgroundcolor: rgb(18, 18, 18);
    --darkhefooterbackcolor:  rgb(30, 30, 30);
    --darktextcolor: rgb(255, 255, 255);
    --cardbackgroundcolor: rgb(50, 52, 66);
    --cardbackgroundshadow: rgb(247, 90, 38);;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--darkbackgroundcolor);
    color: var(--darktextcolor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Navigation */
.navbar {
    display: flex;
    height: 4rem;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    background-color: var(--darkhefooterbackcolor);
}

/* Add Book Button */
#addBook {
    display: flex;
    height: 4rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(92, 92, 92);
    border-radius: 3px;
    color: var(--darktextcolor);
    margin-top: 10px;
    margin-bottom: 50px;
}
#addBook:hover {
    background-color: rgba(65, 64, 64, 0.181);
}
#addBook:active {
    background-color: rgb(30, 30, 30, .181);
}
input {
    border-radius: 1px;
    background-color: rgb(18, 18, 18);
    border: none;
    color: white;
    border: 1px solid rgb(229, 231, 235,0.2);
    width: 300px;
    padding: 4px;
}
/* Book Grid */

.bookGridAdd {
    display: flex;
    justify-content: center;
}
.form-container {
    display: flex;
    justify-content: center;
   
    
}
.form-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 40px;
    
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.formb {
    border: none;
    background-color: rgb(92, 92, 92);
    color: var(--darktextcolor);
    padding: 5px;
    height: 2rem;
    width: 6rem;
    border-radius: 3px;
}
.formb:hover {
    background-color: rgba(65, 64, 64, 0.181);
}
.formb:active {
    background-color: rgb(30, 30, 30, .181);
}
#content-container {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr ;
    padding: 25px;
    gap: 25px;
    background: var(--cardbackgroundcolor);
    position: relative;
    box-shadow: inset 5px 0.01px var(--cardbackgroundshadow);
}
.cbuttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    padding: 10px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 2.5rem;
    gap: 5px;
    background-color: var(--darkhefooterbackcolor);
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}
a:active {
    color: purple;
}

