:root {
    --darkbackgroundcolor: rgb(18, 18, 18);
    --darkhefooterbackcolor:  rgb(30, 30, 30);
    --darktextcolor: rgb(255, 255, 255);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--darkbackgroundcolor);
    color: var(--darktextcolor);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Navigation */
.navbar {
    display: flex;
    height: 4rem;
    align-items: center;
    font-weight: 900;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    background-color: var(--darkhefooterbackcolor);
}












/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 2.5rem;
    gap: 5px;
    background-color: var(--darkhefooterbackcolor);
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}
a:active {
    color: purple;
}

